<div class="message-actions">
  <button class="message-actions__btn" title="Copiar" (click)="onCopy()">
    <i class="pi pi-copy"></i>
  </button>
  <button class="message-actions__btn" title="Me gusta" (click)="onLike()">
    <i class="pi pi-thumbs-up"></i>
  </button>
  <button class="message-actions__btn" title="No me gusta" (click)="onDislike()">
    <i class="pi pi-thumbs-down"></i>
  </button>
  <button class="message-actions__btn" title="Regenerar" (click)="onRegenerate()">
    <i class="pi pi-refresh"></i>
  </button>
</div>
