<div class="composer">
  <input
    type="text"
    class="composer__input"
    placeholder="Escribe un mensaje..."
    [ngModel]="text()"
    (ngModelChange)="text.set($event)"
    (keydown)="onKeydown($event)"
  />
  <button
    class="composer__send-btn"
    [class.composer__send-btn--disabled]="isDisabled"
    [disabled]="isDisabled"
    (click)="onSend()"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="composer__send-icon">
      <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/>
    </svg>
  </button>
</div>
